<h1>Welcome to Simform ,
            <%= @user.name %></h1>
        <p>
            You have updated your email successfully <span style="color:green;"><%= @user.email %></span>
        </p>
        <p>
             <%= image_tag attachments['filename.jpg'].url %>
            Here Is my First Deployed Project Link, You Can Check Here,
            <%= link_to "Click Here", @deployed %>
        </p>
        <p>Thanks for joining and have a great day!</p>

