Welcome to Simform,
<%= @user.name %>
===============================================

You have successfully signed up to Simform,
your username is:
<%= @user.name %>.
<p>
  
    <%= image_tag(@user.picture.thumbnail.url) %>
</p>
To login to the site, just follow this link: Here Is my First Deployed Project Link, You Can Check Here,
<%= link_to "Click Here", @deployed %>.

Thanks for joining and have a great day!
