
        <h1>Welcome to Simform ,
            <%= @user.name %></h1>
        <p>
            You have successfully signed up to Simform,
                  your username is:
            <%= @user.name %>.<br>
        </p>
        <p>
            <%= image_tag attachments['filename.jpg'].url, size: "100x100" %>
       
            Here Is my First Deployed Project Link, You Can Check Here,
            <%= link_to "Click Here", @deployed %>
        </p>
        <p>Thanks for joining and have a great day!</p>
