
<h1 class="text-center">Home#index</h1>
<p class="para">Find me in app/views/home/index.html.erb</p>

<p id="one">hbfjshgbfj</p>

<%= image_tag "download.jpeg", size:"200x200", alt:"this is image" %><br>

<br>

<%= video_tag "first.mp4", controls:true, size: "300x200", poster: "download.jpeg" %>
