<h1 class="text-center m-4">New product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Back to products", products_path, class:"btn btn-success ", style:"margin-left:490px;" %>
</div>
